/* This has the CSS for the shell and common screens */

@import 'variables.less';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}