// input color palette variables here
@white: #FFFFFF;
@green: #1ABC9C;
@blue: #027AC3;
@textBlue: #007AC2;
@orange: #FFA663;
@purple: #62499D;
@dark: #060A33;
// @headerFont: 'museo', sans-serif;
// @mainFont: 'Open Sans', sans-serif;
// @textColor: #192854;
// @blue: #20346f;
// @darkBlue: #192854;
// @grayBlue: #7094ad;
// @grayBlueShadow: #3b5161;
// @yellow: #fbde3d;
// @yellowShadow: #918127;
// @orange: #f98854;
// @backgroundWhite: #eceff4;
// @red: #d00000;
// @darkRed: #840000;
// @green: #009f04;
// @darkGreen: #005302;
// @input-shadow: rgb(181, 181, 181);
// @input-text: #6b6b6b;
// @gray: #aaa;
// @grayBorder: #777;