@import '../../less/variables.less';
.header {
  width: 100%;
  height: @headerHeight;
  background-color: @white;
  img {
    height: 53px;
    margin-top: 15px;
    margin-left: 30px;
  }
  .profile {
    float: right;
    font-size: 20px;
    margin-top: 20px;
    // height: 84px;
    vertical-align: middle;
    text-align: center;
    .name {
      font-size: 24px;
      color: @textBlue;
      text-transform: capitalize;
    }
    .vertical {
      width: 0;
      outline: 1px solid @dark;
      height: 50px;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
  .header-settings {
    color: @darkGrey;
    font-size: 1.1em;
  }

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    margin-top: 20px;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: @darkGrey;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
}