@import '../../less/variables.less';
.header {
  width: 100%;
  height: @headerHeight;
  background-color: @white;
  img {
    height: 53px;
    margin-top: 15px;
    margin-left: 30px;
  }
  .profile {
    float: right;
    font-size: 20px;
    margin-top: 25px;
    // height: 84px;
    vertical-align: middle;
    text-align: center;
    .name {
      font-size: 24px;
      color: @textBlue;
      text-transform: capitalize;
    }
    .vertical {
      width: 0;
      outline: 1px solid @dark;
      height: 50px;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
  .header-settings {
    color: @darkGrey;
    font-size: 1.1em;
  }
}