@import '../../less/variables.less';

.two-pane-layout {
  .side-menu {
    padding-top: 30px;
    height: calc(~"100vh - " @headerHeight);
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: @textBlue;
    .svg-inline--fa{
      margin-right: 15px;
    }
    .list-group {
      font-size: 20px;
      .list-group-item {
        border: none;
        background-color: @textBlue;
        color: @white;
        text-transform: uppercase;
        padding: 5px 15px;
        span{
          vertical-align: middle;
        }
      }
      .list-group-item.active, .list-group-item.active:focus {
        background-color: darken(@textBlue, 15%);
      }
      .list-group-item:hover {
        background-color: @highlightBlue;
      }
      .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }

  .col-fixed {
    z-index: 1060;
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
    float: left;
    width: 100%;
  }
  .col-fluid { // the main content area
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
    float: left;
    width: 100%;
    overflow: hidden;
    min-height: 80vh;
    height: calc(100vh - 84px);
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .col-fixed {
      width: 320px;
    }
    .col-fluid {
      width: calc(100% - 320px);
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .col-fixed {
      width: 320px;
    }
    .col-fluid {
      width: calc(100% - 320px);
    }
  }
  @media (min-width: 1200px) {
    .col-fixed {
      width: 320px;
    }
    .col-fluid {
      width: calc(100% - 320px);
    }
  }

  .search-table-form{
    margin-top:10px;
    margin-bottom: 10px;
    padding-left:22px;
    width: 100%;
    .search-form-button{
      margin-top: 24px;
      padding-left: 0;
    }
    .react-select__menu{
      z-index: 5;
    }
  }
}
.table-add-button{
  position: absolute;
  top: 93px;
  right: 20px;
}
.banner-input{
      position: absolute;
    top: 19px;
    // width: 100%;
    // left: 220px;
    right: 65px;
    .control-label{
      color: #fff;
      margin-top: 5px;
    }
    
}

.request-for-quote-cart-button{
  position: absolute;
  right: 20px;
  top: 13px;
  // top: 21px;
}


