@import '../../less/variables.less';
@highlightBlue: #38A1DF;
.two-pane-layout {
  .side-menu {
    padding-top: 30px;
    height: calc(~"100vh - " @headerHeight);
    background-color: @textBlue;
    .svg-inline--fa{
      margin-right: 15px;
    }
  }
  .list-group {
    font-size: 20px;
    .list-group-item {
      border: none;
      background-color: @textBlue;
      color: @white;
      text-transform: uppercase;
      padding: 5px 15px;
    }
    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
      background-color: @highlightBlue;
    }
    .list-group-item:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .col-fixed {
    z-index: 1060;
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
    float: left;
    width: 100%;
  }
  .col-fluid {
    position: relative;
    min-height: 1px;
    // padding-right: 15px;
    // padding-left: 15px;
    float: left;
    width: 100%;
    overflow: hidden;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .col-fixed {
      width: 320px;
    }
    .col-fluid {
      width: calc(100% - 320px);
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .col-fixed {
      width: 320px;
    }
    .col-fluid {
      width: calc(100% - 320px);
    }
  }
  @media (min-width: 1200px) {
    .col-fixed {
      width: 320px;
    }
    .col-fluid {
      width: calc(100% - 320px);
    }
  }

  .search-table-form{
    margin-top:10px;
    margin-bottom: 10px;
    padding-left:22px;
    .search-form-button{
      margin-top: 22px;
      padding-left: 0;
    }
  }
}