@import '../../less/variables.less';
.queue-form-label {
  color: @textBlue;
  margin-top: -5px;
}

.user-queue {
  .banner {
    background-color: @orange;
  }
}

.queue-form {
  .form-buttons {
    
  }
}